@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@import "react-loading-skeleton/dist/skeleton.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Kanit", sans-serif;
  }

  html,
  body {
    scroll-behavior: smooth;
  }
}

@layer components {
  .scroller {
    @apply snap-y snap-mandatory;
  }

  .scroller-section {
    @apply snap-start;
  }

  .running-border {
    @apply relative z-0 overflow-hidden rounded-3xl before:absolute before:-left-1/2 before:-top-1/2 before:-z-20 before:bg-zinc-700 before:bg-no-repeat after:absolute after:left-1 after:top-1 after:-z-10 after:rounded-[1.25rem] after:bg-zinc-950;
  }
}

@layer utilities {
  .running-border {
    &::before {
      width: 200%;
      height: 200%;
      background-position:
        0 0,
        100% 0,
        100% 100%,
        0 100%;
      background-image: conic-gradient(#71717a 0%,
          #f4f4f5 10%,
          #f4f4f5 40%,
          #71717a 50%,
          #f4f4f5 60%,
          #f4f4f5 90%,
          #71717a 100%);
      animation: rotate 10s linear infinite;
    }

    &::after {
      width: calc(100% - 0.5rem);
      height: calc(100% - 0.5rem);
    }
  }

  .project-thumbnail {
    mask-image: linear-gradient(0deg, black, transparent 75%);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
