@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@import "react-loading-skeleton/dist/skeleton.css";

@layer base {
  body {
    font-family: "Kanit", sans-serif;
  }

  html,
  body {
    scroll-behavior: smooth;
  }
}

@layer components {
  .scroller {
    @apply snap-y snap-mandatory;
  }

  .scroller-section {
    @apply snap-start;
  }

  .running-border {
    @apply relative z-0 rounded-3xl overflow-hidden before:absolute before:-z-20 before:-left-1/2 before:-top-1/2 before:bg-slate-700 before:bg-no-repeat after:absolute after:-z-10 after:left-1.5 after:top-1.5 after:bg-slate-950 after:rounded-[1.25rem];
  }
}

@layer utilities {
  .running-border {
    &::before {
      width: 200%;
      height: 200%;
      background-position:
        0 0,
        100% 0,
        100% 100%,
        0 100%;
      background-image: conic-gradient(#6b7280 0%,
          #374151 10%,
          #374151 40%,
          #6b7280 50%,
          #374151 60%,
          #374151 90%,
          #6b7280 100%);
      animation: rotate 10s linear infinite;
    }

    &::after {
      width: calc(100% - 0.75rem);
      height: calc(100% - 0.75rem);
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
