@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Convergence:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@import "react-loading-skeleton/dist/skeleton.css";

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-kanit: "Kanit", sans-serif;
  --font-convergence: "Convergence", serif;

  --color-black: #111111;
  --color-white: #f4f4f5;
  --color-gray: #787878;
  --color-black-primary: #0a0a0a;
  --color-black-secondary: #1d1d1d;
  --color-black-tertiary: #0d0d0d;

  --shadow-card: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  --inset-shadow-card-inner: inset 0 3px 0 0 rgba(184, 180, 180, 0.08);

  --shadow-card-inverted: 0 3px 4px 0 rgba(184, 180, 180, 0.08);
  --inset-shadow-card-inner-inverted: inset 0 2px 0 0 rgba(0, 0, 0, 0.25);

  --inset-shadow-circle: inset 1px 2px 1px 0px rgba(184, 180, 180, 0.15);
}

@layer base {
  body {
    font-family: "Kanit", sans-serif;
  }

  html,
  body {
    scroll-behavior: smooth;
  }
}

@utility button {
  @apply font-kanit cursor-pointer rounded-full bg-white px-6 py-3.5 text-lg font-medium text-black;
}

@layer components {
  .black-button {
    @apply button inset-shadow-card-inner shadow-card to-gray from-black-primary bg-linear-to-t to-[450%] text-center text-white transition-all duration-300;
  }

  .black-button:hover {
    @apply -translate-y-0.5 transform cursor-pointer to-[400%] shadow-lg;
  }

  .white-button {
    @apply button inset-shadow-card-inner-inverted shadow-card-inverted to-gray bg-linear-to-t from-white to-[200%] text-center transition-all duration-300;
  }

  .white-button:hover {
    @apply -translate-y-0.5 transform cursor-pointer to-[150%] shadow-lg;
  }

  .circle-button {
    @apply inset-shadow-circle flex h-14 w-14 items-center justify-center rounded-full bg-black transition-all duration-300 max-lg:h-12 max-lg:w-12;
  }

  .circle-button:hover {
    @apply -translate-y-0.5 transform cursor-pointer to-[150%] shadow-lg;
  }
}
